{% extends 'base.html' %}

{% block title %}Formulario de Registro{% endblock %}

{% block content %}
	<div class="page-header">
		<h2><a href="/">Ingrese sus datos</a></h2>
	</div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-lg active">Registrarse</button>
  </form>
{% endblock %}
